body{
	margin: 0;
}
.addBlock{
	background-color: #4b585f;
}
.addTable{
	color:white;
	height: 65px;
}
.addTable + .addTable{
	border-top: 1px solid white;
}
.addTable-cell{
	text-align: center;
	width: 180px;
	font-weight: 300;
    border-right: 1px solid white;
}
.addTable-cell--long{
	width: 380px;
	font-weight: 300;
    border-right: 1px solid white;
}

.listTable-cell{
    border-bottom: dashed 1px gray;
	width: 140px;
	text-align: center;
}
thead .listTable-cell{
    border-bottom: solid 1px gray;
}
.addTable-cell:last-child{
    border-right: none;
}
.addTable-input{
    width: 80%;
}
.addTable-input--short{
	width: 40%;
}
.btn{
	height:25px;
	padding: 0 10px;
	color:white;
	border: none;
	font-size: 14px;
	background-color: #009688;
	cursor: pointer;
}
.btn--clear{
	background-color: rgb(255, 88, 51);
}
.btn--delete{
	background-color:transparent;
	color:#ff5757;
	cursor: pointer;
	font-weight: 600;
}
.btn--save{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(75, 88, 95, 0.23);
    height: 60px;
    color: #4b585f;
    transition: .2s;
}
.btn--save:hover{
    background-color: #009688;
    color: white;
}
.productBlock-total{
	text-align: right;
}
.listTable{
    font-size: 12px;
    width: 100%;
}
.listTable-cell--long{
    width: 300px;
}
.productBlock {
    max-height: 450px;
    overflow: scroll;
    min-height: 400px;
    padding: 0 50px;
}
.productBlock-title{
	text-align: center;
}
.upperTable{
	font-size:12px;
	width:100%;
}